.rodape {
  background-color: #212121;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
}

.rodape .links {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.rodape p {
  color: #ffffff;
}

.logotipo {
  max-width: 30%;
  display: flex;
  justify-content: center;
}

.logotipo img {
  max-width: 40%;
}
