.botao {
    background-color: #dda520;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 24px;
    cursor: pointer;
    color: #000;
    margin: 32px 0;
    transition: background-color 1s;
}

.botao:hover {
    background-color: #ffff00;
}